
body{
	background-image:url(file:///E|/UNEVE%209o/WEB2015/20Final/Imagenes/Tony.png),url(file:///E|/UNEVE%209o/WEB2015/20Final/Imagenes/Icono.png);
	background-repeat: no-repeat, repeat;
	background-attachment: fixed;
	}